---
import Magiskeoplvelser from "../components/Magiskeoplvelser.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Tryllekunstnercard from "../components/Tryllekunstnercard.astro";
import Story from "../components/Story.astro";
import Scrollbar from "../components/Scrollbar.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
    <Scrollbar></Scrollbar>
    <Tryllekunstnercard></Tryllekunstnercard>
    <Magiskeoplvelser></Magiskeoplvelser>
    <Story></Story>
    <Button>indend min mail</Button>
</MainLayout>