---
import Magiskeoplvelser from "../components/Magiskeoplvelser.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Tryllekunstnercard from "../components/Tryllekunstnercard.astro";
---
<h1>Hej</h1>
<MainLayout>
    <Magiskeoplvelser></Magiskeoplvelser>
    <Tryllekunstnercard></Tryllekunstnercard>
</MainLayout>