<div class="book-section">
    <div class="book-text">
        <h1>MØD VORES TRYLLEKUNSTNERE</h1>
        <h2>TrylleStjernerne består af i alt syv forskellige tryllekunstnere.</h2>
    </div>
        <div class="bookpic">
            <img src="./images/book_img.webp" alt="Book">
        </div>
   
</div>



<style>
    /* Container styles */
.book-section { 
    display: grid; 
    align-items: center; 
    padding: 2rem; 
    height: 100vh; 
    width: 100%; 
    animation: glow 2s ease-in-out infinite alternate; 
    
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px 5px rgba(255, 255, 172, 1); /* Initial glow effect */
  }
  100% {
    box-shadow: 0 0 40px 30px rgba(255, 255, 172, 0.5); /* Expanded glow effect */
  }
}


.book-text h2 {
    /* font-size: 2rem; */
    margin-top: 1rem;
}
.bookpic img {
  width: 100%; 
  height: auto; 
  transition: all 0.3s ease; 
}


/* Hover effect on .bookpic div */
.bookpic:hover img {
  transform: scale(0.95); /* Slightly shrink the image */
  filter: grayscale(20%); /* Add a grayscale effect */
  opacity: 0.8; /* Reduce opacity */
}

@media (min-width: 750px) {
    .book-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    }
}

</style> 
