<div class="book-section">
    <div class="book-text">
        <h1>MØD VORES TRYLLEKUNSTNERE</h1>
        <h2>TrylleStjernerne består af i alt syv forskellige tryllekunstnere.</h2>
    </div>
        <div class="bookpic">
            <img src="./images/book_img.webp" alt="Book">
        </div>
   
</div>



<style>
    /* Container styles */
.book-section { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 2rem; 
    height: 100vh; 
    width: 100%; 
     animation: glow 2s ease-in-out infinite alternate; 
    
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px 5px rgba(255, 255, 172, 1); /* Initial glow effect */
  }
  100% {
    box-shadow: 0 0 40px 30px rgba(255, 255, 172, 0.5); /* Expanded glow effect */
  }
}

/* Text content styles */
.book-text {
  
    width: 50%; 
    padding: 2rem; 
    text-align: left;
}

.book-text h1 {
 
    margin-bottom: 1rem;
    padding-right: 14rem;
}

.book-text h2 {
    /* font-size: 2rem; */
    margin-top: 1rem;
}
.bookpic img {
  width: 100%; 
  height: auto; 
  transition: all 0.3s ease; 
}


/* Hover effect on .bookpic div */
.bookpic:hover img {
  transform: scale(0.95); /* Slightly shrink the image */
  filter: grayscale(20%); /* Add a grayscale effect */
  opacity: 0.8; /* Reduce opacity */
}



/* Responsive adjustments */


@media (max-width: 1610px) {
    /* .book-text h1 {
        font-size: 1.8rem; /* Slightly smaller */
    }

    .book-text h2 {
        font-size: 1.2rem; /* Slightly smaller */
    } */
}

@media (max-width: 768px) {
    .book-section {
        flex-direction: column; 
        text-align: center; 
        height: auto; 
    }

    .book-section::after {
        width: 100%; 
        height: 139%; 
        top: 0;
        /* right: 17px; */
        opacity: 1; 
    }
    .book-text {
        padding: 1rem; 
    }
    .book-text h1 {
        font-size: 1rem; 
        padding-right: 0; 
    }
    .book-text h2 {
        font-size: 0.5rem; 
        padding-left: 15px; 
    }
    .bookpic img { /*trying to make the book image size a bit smaller*/
  width: 50%; 
  height: 20%;
}

/* For screens smaller than 500px */
@media (max-width: 500px) {
    .book-text h1 {
        font-size: 0.8rem; 
        margin-bottom: 0.3rem; 
    }

    .book-text h2 {
        font-size: 0.4rem; 
        margin-top: 0.3rem; 
        padding-left: 10px; 
    }
}
}


</style>
