---

---

<div class="button">
    <h2 class="button_p"><slot></slot></h2>
    <a href="default.asp"><img src="../button.png" alt="button"></a>
</div>

<style>

.button_p{
    position:absolute;
    color: var(--body-color);
    padding-top:1rem;
    font-size:2rem;
    font-style: italic;
    cursor:pointer;
    font-weight:200;
}
.button{
    width:15%;
    margin:1rem;
}

.button:hover{
    -webkit-transform:scale(1.2); 
    transform:scale(1.2);
}

.button_p:hover{
    color:#E4C282;
}

@media (max-width: 750px) {
    .button{
    width:80%;
    margin:1rem;
}

.button_p{
    padding-top:0.5rem;
    font-size:1rem;
    margin-left:1rem;
}

}

</style>