---
---

<div class="fact-1">
    <div class="text-1">
    <h2>Tryghed i ukendte rammer</h2>
    <p>Har du tænkt på, hvordan du kan hjælpe dit barn med at føle sig tryg på hospitalet? En enkel måde at give støtte på er at skabe genkendelige elementer i en ellers fremmed situation. Tag en yndlingsbamse, et blødt tæppe eller en favoritbog med, som barnet forbinder med tryghed hjemmefra. At lave små rutiner sammen – som at tælle til ti før en undersøgelse eller synge en sang – kan også give barnet en følelse af kontrol og ro, selv når omgivelserne er uvante og måske skræmmende.</p>
</div>
</div>



<div class="fact-2">
<div class="text">
    <h2>Støtte til dig som forælder</h2>
<p>Hvordan kan du som forælder selv få støtte, når dit barn går igennem en svær tid? At være stærk for sit barn kan være krævende, og det er vigtigt at huske, at du også har brug for omsorg og støtte. Overvej at tale med andre forældre, der har været i lignende situationer – mange hospitaler tilbyder grupper, hvor man kan dele erfaringer og råd. At finde et lille pusterum til dig selv hver dag, om det så er en kop kaffe, en gåtur eller fem minutter til at trække vejret dybt, kan give dig mere energi til at være der for dit barn, når det gælder.</p>
</div>
</div>


<div class="fact-3">
<div class="text-1">
    <h2>Når magi skaber smil</h2>
<p>Har du tænkt på, hvordan lidt magi kan gøre en forskel for børn på hospitalet? Tryllekunstnere, der besøger børneafdelinger, kan forvandle en grå dag til et eventyr. Gennem sjove tricks og forbløffende magi får de børnene til at grine og glemme hospitalsrummet for en stund. Når et barn bliver opslugt af en tryllekunst, kan nervøsitet og frygt forsvinde – i hvert fald for et øjeblik. Den magiske oplevelse giver børn en følelse af glæde og håb, og det kan gøre hospitalsopholdet lidt lettere at komme igennem. Tryllekunstnernes besøg minder børnene om, at selv på svære dage kan der ske små mirakler.</p>
</div>
</div>

<style>


.fact-1 {
  background-image: url("parent-fact-pic1.jpg");
  width: 100%;
 background-repeat: no-repeat;
 background-position: left;
 background-size:contain;
 min-height: 100vh;
 background-attachment: fixed;
align-items: center;
}

.fact-2 {
    background-image: url("parent-fact-pic2.jpg");
    width: 100%;
 background-repeat: no-repeat;
 background-position: right;
 background-size:contain;
 min-height: 100vh; 
 align-items: center;
}

.fact-3 {
    background-image: url("parent-fact-pic3.png");
    width: 100%;
 background-repeat: no-repeat;
 background-position: left;
 background-size:contain;
 min-height: 100vh;
 background-attachment: fixed;
 align-items: center;
}

.text-1 {
text-align: justify;
display: flex;
max-width: 85ch;
justify-content: center;
flex-direction: column;
padding: 3rem;
max-width: 85ch;
font-size: 1.2rem;
line-height: 1.5;
margin-left: 100vh;
}

.text {
    text-align: justify;
display: flex;
max-width: 85ch;
justify-content: center;
flex-direction: column;
padding: 3rem;
max-width: 85ch;
font-size: 1.2rem;
line-height: 1.5;
margin-right: 100vh;
}

</style>