
    <div class="logo"></div>
    <div class="heroimage">
        <div class="text-content">
            <h1 class="display">TrylleStjernerne</h1>
            <h2>Vi skaber lyset i mørket</h2>
 <p>
                I TrylleStjernerne er det formålet, at vores magikere er til stede på alle landets børneafdelinger og skaber magi og glæde, så børnene bliver opslugt af de spændende magiske tricks og bliver underholdt og får en ægte pause fra sygdom, kedelig ventetid, frygt for ubehag eller sorg.
            </p>
            <p>
                Magic Kids er for børn i alle aldre. Blandt andet små trylletricks, som er sjove for de lidt større børn, og disse tricks foræres til børnene, så de kan øve sig og trylle videre.
            </p>
            <p>
                Der er tricks og balloner for de lidt mindre børn, som kan forundres og grine og få et ballondyr.
                For de største børn, er der kort tricks og små illusioner, der er sjove at udføre foran vennerne, når de bliver udskrevet, eller når disse kommer på besøg.
            </p>
        
        </div>

    </div>


<style>

/* herocontainer */
.heroimage {
     background-image: url(./images/hero_img.webp); 
   background-repeat: no-repeat;
    width: 100%; /* Limits the width of the content area */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
     display: block;

}
  /* Text styling */
  .text-content {
  color: white;
  max-width: 50%; /* Restrict the width of text */
  text-align: left; /* Ensure the text is aligned left */
  padding: 2rem;
  margin-left: 2rem; /* Add margin for left side */
}


  /* Mobile responsiveness */
 @media (max-width: 768px) {
  .text-content {
    max-width: 80%; /* Increase text content width on mobile */
    padding: 2rem; /* Adjust padding */
    padding-top: 5rem; /* Adjust space from top */
    margin-left: 1rem; /* Adjust margin for mobile */
    text-align: center; /* Center text on smaller screens */
  }

  h1 {
    font-size: 2rem; /* Adjust font size */
  }

  h2 {
    font-size: 1.5rem; /* Adjust font size */
  }
}

    
</style>






