---
---
<div class="wrap">
    <div class="title">
        <h1>TRYLLESTJERNERNES KALENDER</h1>
        <h2>Følg med i TrylleStjernernes begivenheder og se hvornår du kan booke dem!</h2>
    </div>
    
    <div class="magician-pic">
    </div>
    </div>
    
    <style>

    h1{
        text-align: center;
    }
    
        .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    
        .magician-pic {
        background-image: url("magician_illustration.png");
          width: 100%;
         background-repeat: no-repeat;
         background-position: center;
         background-size:contain;
         min-height: 100vh;
        }
    </style>