--- 
import Button from "./Button.astro"
---

<!-- ********* calendar -->

<div class="calendar-container"><img id="calendar-image"src="./images/calendar.png" alt="calendar">
</div>
<div class="button-container">
    <Button>book en af os</Button>
</div>

<!-- ********* Pricebar -->

<div class="pricebar-container">
  <h1>STØT TRYLLESTJERNERNE</h1>
  <h2>Lad Børn Opleve Magi og Glæde</h2>
  <p>TrylleStjernerne er en organisation under foreningen KidsAid, som er en fond, der støtter syge og sårbare børn og unge i Danmark. <br>
  Du kan give støtte direkte til KidsAid her. - Men du kan også give din støtte direkte til TrylleStjernerne forneden! 
  </p>
<img id="pricebar-image"src="./images/pricebar.png" alt="pricebar">
<div class="button-container">
    <Button>indend og støt</Button>
</div>
</div>

<!-- ********* tilmeldt -->

<div class="tilmeldt-container">
<h1>TILMELD DIG VORES NYHEDSBREV</h1>
<h2>- Og følg med i TrylleStjernernes hverdag!</h2>
<input type="email" name="mail" placeholder="skriv din email" required />
<div class="button-container">
    <Button>tilmeld mig</Button>
    </div>
</div>

<!-- ********* icons -->

<div class="icons">
    <img src="./images/logo-insta.png" alt="">
    <img src="./images/facebook.png" alt="">
</div>

<!-- ********* styles -->


<style>
    img{
        display: block;
        height: auto;
        width: 100%;
    }
    .calendar-container{
        justify-content: center;
        margin-top: 8rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
        margin-left: 30rem;
        padding: 1rem 1rem 1rem 1rem;
    }

      .pricebar-container{
        text-align: center;
    }
       .tilmeldt-container{
        text-align: center;
    }
    .icons{
        display: flex;
        grid-template-columns: 1fr 1fr;
        margin:2rem;
        gap: 1rem;
        width:7%;
    }
    
      .button-container {
        display: flex;
        justify-content: flex-end; 
        margin-right:17rem;
        margin-bottom: 5rem;
    }
   

        input{
            margin-top:0.5rem;
            width: 30%;
            height: 30px;
            align-content: center;
            border-radius: 30px;
        }

#pricebar-image {
    display: block;
    margin:auto;
    align-self: center;
  width: 60%;
  margin-top:1rem;
}
#calendar-image{
    margin-left: -15rem;
}

/* Breakpoints */



/* 900px */
/* @media (max-width: 900px) {
    .calendar-container, .pricebar-container, .tilmeldt-container {
        margin-left: 5rem;
        margin-right: 5rem;
            padding: 8rem 2rem 2rem 8rem;
    }

    #pricebar-heading, #pricebar-subheading {
        margin-right: 10rem;
    }

    #pricebar-image {
        width: 70%;
    }

    .icons {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    input {
        width: 50%;
        margin-left: 2rem;
    }
    #calendar-image{
    margin-left: -5rem;
}
}

/* 768px */
@media (max-width: 768px) {
    .calendar-container, .pricebar-container, .tilmeldt-container {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    #pricebar-heading, #pricebar-subheading {
        margin-right: 5rem;
    }

    #pricebar-image {
        width: 60%;
    }

    .icons {
        grid-template-columns: 1fr 1fr;
        margin-left: 6rem;
        /* margin-right: 2rem; */
    }
      /* Adjust the size of images in the icons container */
    .icons img {
        max-width: 50%;  /* Limit image width to 80% of container */
    }
    input {
        width: 70%;
        margin-left: 1rem;
    }
}

/* 425px */
@media (max-width: 425px) {
    .calendar-container, .pricebar-container, .tilmeldt-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #pricebar-heading, #pricebar-subheading {
        margin-right: 3rem;
    }

    #pricebar-image {
        width: 100%;
    }

    .icons {
        grid-template-columns: 1fr;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 2rem;
    }

    input {
        width: 80%;
        margin-left: 0;
    }
} */








</style>


