---

---
<div class="magiskeoplevelser">
    <div>
        <img src="../maroonmagician.svg" alt="billede" />
    </div>
    <div>
        <h1>Børnrnes magiske oplevelser</h1>
        <h2>"GLÆDE MIDT I EN SVÆR TID"</h2>
</div>

<style>
  .magiskeoplevelser{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }

  h1{
    text-align: center;
    margin-top:10rem;
  }

  h2{
    text-align: center;
  }

  img{
  }

</style>