---

---
<div>
  <h1>Børnenes magiske oplevelser</h1>
  <h2>"GLÆDE MIDT I EN SVÆR TID"</h2>
</div>
<div class="standard_scroll_section">
  <div>
    <img src="../maroonmagician.svg" alt="billede" />
  <div>
<style>

  h1{
    text-align: center;
  }

  h2{
    text-align: center;
  }

  img{
    height:80vh;
    max-width:870px;
  }
  .standard_scroll_section {
  width: 100vw;

  /* border-radius: 3rem;

  margin-bottom: 4rem;
  padding: 3rem; */
}

</style>

<script>
  import { animate, scroll } from "motion"
const allStandardScrollSection = document.querySelectorAll(".standard_scroll_section");

allStandardScrollSection.forEach((eachSection) => {
  scroll(animate(eachSection, { scale: [1, 8] }, { ease: "linear" }), {
    target: eachSection,
    offset: ["start 100px", "end start"],
  });
});
</script>