<div class="story1">
        <p class="faktabox">Fabelagtige Falbe underholder med et humoristisk trylleshow, med grinegaranti og underholdende stemning. Gennem mange hundrede optrædener har han finpudset sin stil, med både farlige og underholdende tricks så han ved, hvordan han kan give netop jer en oplevelse, de sent vil glemme.</p>
  </div>
  <div class="story2">
    <p class="faktabox1">Fabelagtige Falbe underholder med et humoristisk trylleshow, med grinegaranti og underholdende stemning. Gennem mange hundrede optrædener har han finpudset sin stil, med både farlige og underholdende tricks så han ved, hvordan han kan give netop jer en oplevelse, de sent vil glemme.</p>
</div>
<div class="story3">
    <p class="faktabox">Fabelagtige Falbe underholder med et humoristisk trylleshow, med grinegaranti og underholdende stemning. Gennem mange hundrede optrædener har han finpudset sin stil, med både farlige og underholdende tricks så han ved, hvordan han kan give netop jer en oplevelse, de sent vil glemme.</p>
</div>

  <style>

    p{
        background-color: #242F53;
        padding:3rem;
        max-width: 85ch;
    }

    .story1{
    background-image: url("..//story1.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    }

    .story2{
    background-image: url("..//story2.webp");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    }

    .story3{
    background-image: url("..//story3.webp");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    }

    .faktabox{
        padding:2rem;
        margin-left:50rem;
        opacity:90%;
    }

    .faktabox1{
        margin-left:0;
        opacity:90%;
    }
  </style>