---
const { img, title, billet, link } = Astro.props;
---
<div class="tryllekunstner">
    <div>
        <h1>Lasse K</h1>
        <p>Min uhøjtidelige og engagerende tilgang får børnene til at grine hjerteligt, mens de sidder på kanten af deres sæder i forundring over de magiske tricks, der udfolder sig foran deres øjne.</p>
        <p>At have mig til at optræde til dit børneevent er en sikker måde at tilbyde en sjov, interaktiv og mindeværdig oplevelse, der vil efterlade børnene forundrede og begejstrede. Mine forestillinger er ideelle til skolearrangementer, børnefødselsdage, familiefester og andre begivenheder, hvor børnenes underholdning er i centrum.</p>
    </div>
    <div>
        <img src="" alt="billede" />
    </div>
</div>

<style>
  .tryllekunstner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
  }
</style>
